<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664958004841-djsed3h1ord6aijqghfr5bne9kjo9193.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664958004841-djsed3h1ord6aijqghfr5bne9kjo9193</string>
	<key>API_KEY</key>
	<string>AIzaSyAFrYEoVuS9O5i71DPLwrJQx1Zx32Feh9s</string>
	<key>GCM_SENDER_ID</key>
	<string>664958004841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kct.tplusmarket</string>
	<key>PROJECT_ID</key>
	<string>kctmarket-3189c</string>
	<key>STORAGE_BUCKET</key>
	<string>kctmarket-3189c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664958004841:ios:ef0c63cf4524b59335fcf8</string>
</dict>
</plist>